/*
	Orange:	#ff9f00 255,159,0;
	Yellow: #faa21c 250,162,28;
	Gray:	#333333 51,51,51;
	Pink:	#ff0066 255,0,102;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400italic,400,300);
*{ margin: 0; padding: 0; font-family: sans-serif; font-size: 12px; color: #222222; cursor: default; }
*::selection { background:transparent; }
html, body{ width: 100%; height: 100%; background-color: #ffffff; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul{ list-style: none; list-style-type: none; }
textarea, input, button { outline: none; }
img{ border: 0; }

.transition{ -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms; transition: all 300ms; }
.height-hack{ padding-bottom: 5000px; margin-bottom: -5000px; }

.app{
	position: relative;
	display: block;
	float: left;
	clear: both;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	#rbc-logo{
		position: absolute;
		display: none;
		float: left;
		bottom: 18px;
		left: 50%;
		margin: 0 0 0 -80px;
		width: 160px;
		height: 45px;
		background-image: url("../images/logo-rbc.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 160px 45px;
	}

	.app.portal #rbc-logo{
		display : block;
	}

	@media screen and (max-height: 800px){
		.app.portal #rbc-logo{
			display : none;
		}
	}

	#app-menu{
		display: block;
		float: left;
		width: 200px;
		height: 100%;
		background-color: #333333;
		box-shadow: inset -2px 0 3px 0 rgba(0,0,0,0.25);
		overflow: hidden;
		white-space: nowrap;
	}

	@media screen and (max-width: 1024px){
		#app-menu{
			width: 0px;
		}
	}

	#app-menu.show{
		width: 200px;
	}

	.app.portal #app-menu{
		width: 0px;
	}

		#app-menu ul.menu-list{
			display: block;
			float: left;
			clear: both;
			width: 100%;
			margin: 5px 0 0 0;
		}

		#app-menu ul.menu-list li{
			display: block;
			float: left;
			clear: both;
			width: 100%;
			line-height: 42px;
			color: #cccccc;
			font-family: "Roboto" sans-serif;
			font-size: 16px;
			font-weight: 300;
			text-indent: 10px;
		}

		#app-menu ul.menu-list li:hover{
			color: #ffffff;
		}

		#app-menu ul.menu-list li.divider{
			background-image: none;
			line-height: 0;
			height: 0px;
			border-bottom: 1px dotted #444444;
			border-top: 1px dotted #222222;
		}

	#app-main{
		display: block;
		float: left;
		width: calc(100% - 200px);
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
	}

	@media screen and (max-width: 1024px){
		#app-main{
			width: 100%;
		}
	}

	#app-main.collapse{
		width: calc(100% - 200px);
	}

	.app.portal #app-main{
		width: 100%;
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

		#app-head{
			display: block;
			float: left;
			clear: both;
			width: 100%;
			height: 40px;
			background-color: #333333;
			overflow: hidden;
			white-space: nowrap;
		}

			#app-head > .icon{
				display: none;
				float: left;
				width: 40px;
				height: 40px;
				background-image: url("../images/icon-menu.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 40px auto;
			}

			@media screen and (max-width: 1024px){
				#app-head > .icon{
					display: block;
				}

				.app.portal #app-head > .icon{
					display: none;
				}
			}

			#app-head > .logo{
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				background-image: url("../images/HSPostEmblem.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 24px auto;
			}

			@media screen and (max-width: 1024px){
				#app-head > .logo{
					display: none;
				}

				.app.portal #app-head > .logo{
					display: block;
				}
			}

			#app-head > .heading{
				display: block;
				float: left;
				line-height: 40px;
				font-family: "Roboto", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			@media screen and (max-width: 465px){
				#app-main.collapse #app-head > .heading{
					width: 50%;
				}
			}

			#app-head > .message{
				display: none;
				width: 320px;
				height: 40px;
				margin: 0 auto;
				line-height: 40px;
				font-family: "Roboto", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.app.portal #app-head > .message{
				display: block;
			}

			@media screen and (max-width: 800px){
				#app-head > .message,
				.app.portal #app-head > .message{
					display: none;
				}
			}

			

		#app-body{
			display: block;
			float: left;
			clear: both;
			width: 100%;
			height: calc(100% - 40px);
			overflow: auto;
		}

			.portal-form-container{
				display: block;
				width: 320px;
				height: 340px;
				margin: 110px auto 20px auto;
				background-color: rgba(0,0,0,0.70);
			}

			@media screen and (max-width: 800px){
				.portal-form-container{
					margin: 30px auto 20px auto;
					width: 300px;
				}
			}

				.portal-form-container > .logo{
					display: block;
					float: left;
					clear: both;
					width: calc(100% - 60px);
					margin: 20px 30px 10px;
					height: 60px;
					background-image: url("../images/logo-hsp-white.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: auto 80px;
				}

				.portal-form-container input[type=input],
				.portal-form-container input[type=email],
				.portal-form-container input[type=password]{
					display: block;
					float: left;
					clear: both;
					padding: 8px 10px;
					width: calc(100% - 80px);
					margin: 5px 30px;
					font-size: 14px;
					color: #dddddd;
					background-color: rgba(0,0,0,0.30);
					border: 1px solid #dddddd;
					border-radius: 4px;
				}

				.portal-form-container input[type=input]:hover,
				.portal-form-container input[type=email]:hover,
				.portal-form-container input[type=password]:hover,
				.portal-form-container input[type=input]:focus,
				.portal-form-container input[type=email]:focus,
				.portal-form-container input[type=password]:focus{
					border-color: #ff9f00;
				}

				.portal-form-container input[type=input]:focus,
				.portal-form-container input[type=email]:focus,
				.portal-form-container input[type=password]:focus{
					box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
				}

				.portal-form-container input#login-email{
					margin-top: 20px;
				}

				.portal-form-container button{
					display: block;
					float: left;
					clear: both;
					padding: 8px 0;
					width: calc(100% - 60px);
					margin: 15px 30px;
					font-size: 14px;
					color: #dddddd;
					background-color: rgba(0,0,0,0.50);
					border: 1px solid #dddddd;
					border-radius: 4px;
				}

				.portal-form-container button:hover,
				.portal-form-container button:focus{
					color: #ff9f00;
					border: 1px solid #ff9f00;
					
				}

				.portal-form-container button:active{
					box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
				}

				.portal-form-container a{
					display: block;
					float: left;
					clear: both;
					width: calc(100% - 60px);
					margin: 5px 30px;
					font-size: 12px;
					text-align: center;
					color: #dddddd;
				}

				.portal-form-container a:hover,
				.portal-form-container a:focus{
					color: #ff9f00;
				}