/*
	Orange:	#ff9f00 255,159,0;
	Yellow: #faa21c 250,162,28;
	Gray:	#333333 51,51,51;
	Pink:	#ff0066 255,0,102;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400italic,400,300);
*{ margin: 0; padding: 0; font-family: sans-serif; font-size: 12px; color: #222222; cursor: default; }
*::selection{ background:transparent; }
input::selection{ background: #ff9f00; }
html, body{ width: 100%; height: 100%; background-color: #ffffff; }
table{ border-collapse: collapse; border-spacing: 0; }
ol, ul{ list-style: none; list-style-type: none; }
textarea, input, button { outline: none; }
img{ border: 0; }

.transition{ -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms; transition: all 300ms; -webkit-backface-visibility: hidden;}
.no-transition{ -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none;}
.height-hack{ padding-bottom: 5000px; margin-bottom: -5000px; }

.loading { position: absolute; top:50%; left: 50%; text-align: center; }
.loading > div { width: 10px; height: 10px; background-color: #aaaaaa; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.loading .dot1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.loading .dot2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0.0) } 40% { -webkit-transform: scale(1.0) } }
@keyframes bouncedelay { 0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 40% { transform: scale(1.0); -webkit-transform: scale(1.0); } }


button{
	display: block;
	float: left;
	padding: 8px 12px;
	font-size: 12px;
	color: #999999;
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

button:hover{
	color: #000000;
	border: 1px solid #000000;
}

	button.primary{
		color: #ff0066;
		border: 1px solid #ff0066;
	}

	button.primary:hover{
		color: #ff0033;
		border: 1px solid #ff0033;
	}


.app{
	position: relative;
	display: block;
	float: left;
	clear: both;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	#rbc-logo{
		position: absolute;
		display: none;
		float: left;
		bottom: 18px;
		left: 50%;
		margin: 0 0 0 -80px;
		width: 160px;
		height: 45px;
		background-image: url("../images/logo-rbc.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 160px 45px;
	}

	.app.portal #rbc-logo{
		display : block;
	}

	@media screen and (max-height: 800px){
		.app.portal #rbc-logo{
			display : none;
		}
	}

	#app-modal{
		position: absolute;
		display: none;
		float: left;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;
		background-color: rgba(51,51,51,0.50);
		z-index: 9999;
	}

	#app-modal.show{
		display: block;
	}

	#app-menu{
		position: relative;
		display: block;
		float: left;
		width: 200px;
		height: 100%;
		background-color: #333333;
		box-shadow: inset -2px 0 3px 0 rgba(0,0,0,0.30);
		overflow: auto;
		white-space: nowrap;
	}

	@media screen and (max-width: 1024px){
		#app-menu{
			width: 0px;
		}
	}

	#app-menu.show{
		width: 200px;
	}

	.app.portal #app-menu{
		width: 0px;
	}

		#app-menu .admin-info{
			display: block;
			float: left;
			clear: both;
			width: 200px;
			margin: 10px 0;
			border-bottom: 1px dotted #444444;
		}

			#app-menu .admin-info > .employer-logo{
				display: block;
				float: left;
				clear: both;
				width: 78px;
				height: 78px;
				margin: 0 60px;
				border-radius: 50%;
				border: 1px solid #323232;
				background-color: #434343;
				background-image: url("../images/icon-location.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 40px;
				overflow: hidden;
			}

				#app-menu .admin-info > .employer-logo > img{
					display: block;
					float: left;
					width: 78px;
					height: 78px;
				}

			#app-menu .admin-info > .user-name{
				display: block;
				float: left;
				width: calc(100% - 30px);
				margin: 8px 15px 0 15px;
				color: #eeeeee;
				font-family: "Roboto", sans-serif;
				font-size: 13px;
				line-height: 18px;
				font-weight: 300;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			#app-menu .admin-info > .employer-name{
				display: block;
				float: left;
				width: calc(100% - 30px);
				margin: 0 15px 8px 15px;
				color: #ff9f00;
				font-family: "Roboto", sans-serif;
				font-size: 13px;
				line-height: 18px;
				font-weight: 300;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			#app-menu .admin-info > .employer-name.more{
				width: calc(100% - 48px);
				padding: 0 18px 0 0;
				background-image: url("../images/icon-employer-switch-arrow.svg");
				background-repeat: no-repeat;
				background-position: right 1px;
				background-size: 18px;
			}

				#app-menu .admin-info > .employer-name.more:hover{
					color: #faa21c;
				}

			#app-menu .admin-info > .employers-list{
				position: absolute;
				display: block;
				float: left;
				opacity: 0;
				width: 190px;
				height: 0;
				max-height: 200px;
				top: 140px;
				left: 5px;
				background-color: #ffffff;
				border-radius: 1px;
				box-shadow: 0 1px 4px 0 rgba(0,0,0,1);
				overflow: auto;
				white-space: nowrap;
			}

			#app-menu .admin-info > .employers-list.show{
				opacity: 1;
				height: auto;
			}

				#app-menu .admin-info > .employers-list li{
					display: block;
					float: left;
					clear: both;
					width: 100%;
					color: #222222;
					text-indent: 10px;
					font-family: "Roboto", sans-serif;
					font-size: 12px;
					line-height: 36px;
					font-weight: 300;
					overflow: hidden;
					text-overflow: ellipsis;
				}

					#app-menu .admin-info > .employers-list li.selected{
						color: #ff9f00;
					}

					#app-menu .admin-info > .employers-list li:hover{
						background-color: #ff9f00;
						color: #ffffff;
					}

		#app-menu ul.menu-list{
			display: block;
			float: left;
			clear: both;
			width: 100%;
		}

		#app-menu ul.menu-list li{
			display: block;
			float: left;
			clear: both;
			width: 100%;
		}

			#app-menu ul.menu-list li label{
				display: block;
				float: left;
				clear: both;
				width: calc(100% - 34px);
				line-height: 42px;
				color: #cccccc;
				font-family: "Roboto" sans-serif;
				font-size: 16px;
				font-weight: 300;
				text-indent: 10px;
			}

				#app-menu ul.menu-list li:hover label{
					color: #ffffff;
				}

			#app-menu ul.menu-list li div.count{
				display: block;
				float: right;
				width: 34px;
				line-height: 42px;
				color: #ff0066;
				text-align: center;
				font-family: "Roboto" sans-serif;
				font-size: 12px;
			}

			#app-menu ul.menu-list li div.count.zero{
				color: #888888;
			}

		#app-menu ul.menu-list li.divider{
			background-image: none;
			line-height: 0;
			height: 0px;
			border-bottom: 1px dotted #444444;
			border-top: 1px dotted #222222;
		}

	#app-main{
		position: relative;
		display: block;
		float: left;
		width: calc(100% - 200px);
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
	}

	@media screen and (max-width: 1024px){
		#app-main{
			width: 100%;
		}
	}

	#app-main.collapse{
		width: calc(100% - 200px);
	}

	.app.portal #app-main{
		width: 100%;
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

		#app-head{
			display: block;
			float: left;
			clear: both;
			width: 100%;
			height: 40px;
			background-color: #333333;
			overflow: hidden;
			white-space: nowrap;
		}

			#app-head > .icon{
				display: none;
				float: left;
				width: 40px;
				height: 40px;
				background-image: url("../images/icon-menu.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 40px auto;
			}

			@media screen and (max-width: 1024px){
				#app-head > .icon{
					display: block;
				}

				.app.portal #app-head > .icon{
					display: none;
				}
			}

			#app-head > .logo{
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				background-image: url("../images/HSPostEmblem.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 24px auto;
			}

			@media screen and (max-width: 1024px){
				#app-head > .logo{
					display: none;
				}

				.app.portal #app-head > .logo{
					display: block;
				}
			}

			#app-head > .heading{
				display: block;
				float: left;
				line-height: 40px;
				font-family: "Roboto", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			@media screen and (max-width: 465px){
				#app-main.collapse #app-head > .heading{
					width: 50%;
				}
			}

			#app-head > .message{
				display: none;
				width: 320px;
				height: 40px;
				margin: 0 auto;
				line-height: 40px;
				font-family: "Roboto", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.app.portal #app-head > .message{
				display: block;
			}

			@media screen and (max-width: 800px){
				#app-head > .message,
				.app.portal #app-head > .message{
					display: none;
				}
			}

			

		#app-body{
			position: relative;
			display: block;
			float: left;
			clear: both;
			width: 100%;
			height: calc(100% - 40px);
			overflow: auto;
		}

			#app-toast{
				position: absolute;
				display: block;
				float: right;
				width: 100%;
				top: -40px;
				right: 0;
				padding: 8px 0;
				background-color: #f2f2f2;
				opacity: 0;
				z-index: 99;
			}

			#app-toast.show{
				top: 0px;
				opacity: 1;
			}

				#app-toast .message{
					display: block;
					float: left;
					width: calc(100% - 20px);
					margin: 0 10px;
					text-align: center;
					color: #ff0066;
					font-family: "Roboto", sans-serif;
					font-size: 16px;
					font-weight: 300;
					white-space: pre-wrap;
				}

			#app-notifications{
				position: relative;
				display: block;
				float: right;
				right: 0;
				width: 0;
				background-color: #f2f2f2;	
				box-shadow: inset 2px 0 3px 0 rgba(0,0,0,0.05);
			}

			#app-notifications.show{
				width: 259px;
			}

			@media screen and (max-width: 460px){
				#app-notifications.show{
					width: 100%;
				}
			}

			#app-content{
				display: block;
				float: left;
				clear: both;
				width: 100%;
			}

				.portal-form-container{
					display: block;
					width: 320px;
					height: 340px;
					margin: 110px auto 20px auto;
					background-color: rgba(0,0,0,0.70);
				}

				@media screen and (max-width: 800px){
					.portal-form-container{
						margin: 60px auto 20px auto;
						width: 300px;
					}
				}

					.portal-form-container > .logo{
						display: block;
						float: left;
						clear: both;
						width: calc(100% - 60px);
						margin: 20px 30px 10px;
						height: 60px;
						background-image: url("../images/logo-hsp-white.png");
						background-position: center;
						background-repeat: no-repeat;
						background-size: auto 80px;
					}

					.portal-form-container input[type=input],
					.portal-form-container input[type=email],
					.portal-form-container input[type=password]{
						display: block;
						float: left;
						clear: both;
						padding: 8px 10px;
						width: calc(100% - 80px);
						margin: 5px 30px;
						font-size: 14px;
						color: #dddddd;
						background-color: rgba(0,0,0,0.30);
						border: 1px solid #dddddd;
						border-radius: 4px;
					}

					.portal-form-container input[type=input]:hover,
					.portal-form-container input[type=email]:hover,
					.portal-form-container input[type=password]:hover,
					.portal-form-container input[type=input]:focus,
					.portal-form-container input[type=email]:focus,
					.portal-form-container input[type=password]:focus{
						border-color: #ff9f00;
					}

					.portal-form-container input[type=input]:focus,
					.portal-form-container input[type=email]:focus,
					.portal-form-container input[type=password]:focus{
						box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
					}

					.portal-form-container input#login-email{
						margin-top: 20px;
					}

					.portal-form-container .remember-me{
						display: block;
						float: left;
						clear: both;
						margin: 10px 0 10px 30px;
					}

						.portal-form-container .remember-me input[type="checkbox"]{
							display: block;
							float: left;
						}

						.portal-form-container .remember-me input[type="checkbox"]:focus{
							box-shadow: 0 0 10px 0 rgba(255,159,0,0.5);

						}

						.portal-form-container .remember-me label{
							display: block;
							float: left;
							color: #bbbbbb;
							margin: 0 0 0 4px;
						}

					.portal-form-container button{
						display: block;
						float: left;
						clear: both;
						padding: 8px 0;
						width: calc(100% - 60px);
						margin: 15px 30px;
						font-size: 14px;
						color: #dddddd;
						background-color: rgba(0,0,0,0.50);
						border: 1px solid #dddddd;
						border-radius: 4px;
					}

					.portal-form-container button:hover,
					.portal-form-container button:focus{
						color: #ff9f00;
						border: 1px solid #ff9f00;
						
					}

					.portal-form-container button:active{
						box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
					}

					.portal-form-container a{
						display: block;
						float: left;
						clear: both;
						width: calc(100% - 60px);
						margin: 5px 30px;
						font-size: 12px;
						text-align: center;
						color: #dddddd;
					}

					.portal-form-container a:hover,
					.portal-form-container a:focus{
						color: #ff9f00;
					}

				.page-title{
					display: block;
					float: left;
					clear: both;
					margin: 10px 15px;
					font-family: "Roboto", sans-serif;
					font-size: 32px;
					font-weight: 300;
					color: #ff9f00;
					text-transform: uppercase;
				}

				.empty-page{
					display: block;
					float: left;
					clear: both;
					width: calc(100% - 40px);
					min-width: 320px;
					margin: 20px 0;
					padding: 140px 20px 0 20px;
					text-align: center;
					color: #666666;
					font-family: "Roboto", sans-serif;
					font-size: 20px;
					font-weight: 300;
					white-space: normal;
					background-image: url("../images/icon-blank-list.svg");
					background-position: center 20px;
					background-repeat: no-repeat;
					background-size: auto 100px;
				}

					.empty-page > button{
						float: none;
						width: 150px;
						margin: 20px auto 0 auto;
					}

				@media screen and (max-width: 800px){
					.page-title{
						font-size: 24px;
					}
				}

				.page-tools{
					display: block;
					float: left;
					width: calc(100% - 30px);
					margin: 10px 15px 10px 15px;
				}

				.page-tools button{
					margin: 0 10px 0 0;
				}

				div.grid-list-title{
					display: block;
					float: left;
					clear: both;
					margin: 10px 15px;
					font-size: 16px;
					font-weight: 700;
					color: #444444;
				}

				ul.grid-list{
					display: block;
					float: left;
					width: calc(100% - 30px);
					margin: 0 15px 15px 15px;
					overflow: hidden;
					white-space: nowrap;
				}

					ul.grid-list li{
						display: block;
						float: left;
						clear: both;
						width: 100%;
						height: 30px;
						padding: 4px 0;
						border-bottom: 1px dotted #cccccc;
						background-color: #ffffff;
						overflow: hidden;
						white-space: nowrap;
					}

					ul.grid-list li:nth-child(even){
						background-color: #fcfcfc;
					}

					ul.grid-list li:hover{
						background-color: #fffbf5;
					}

					ul.grid-list li.tall{
						height: 50px;
					}

						
						ul.grid-list li div.column{
							display: block;
							float: left;
							text-indent: 8px;
							line-height: 30px;
							font-family: sans-serif;
							font-size: 12px;
							color: #444444;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

							ul.grid-list li div.column span{
								color: #ff0066;
							}

						ul.grid-list li div.column.job-name{
							width: 150px;
							font-weight: 400;
							font-size: 14px;
							color: #000000;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 559px){
								#app-main.collapse ul.grid-list li div.column.job-name{
									border-right: none;
									width: calc(100% - 30px);
								}
							}	

							@media screen and (max-width: 359px){
								ul.grid-list li div.column.job-name{
									border-right: none;
									width: calc(100% - 30px);
								}
							}

						ul.grid-list li div.column.job-wage{
							width: 140px;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 559px){
								#app-main.collapse ul.grid-list li div.column.job-wage{
									display: none;
								}
							}

							@media screen and (max-width: 359px){
								ul.grid-list li div.column.job-wage{
									display: none;
								}
							}

						ul.grid-list li div.column.posted{
							width: 130px;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 689px){
								#app-main.collapse ul.grid-list li div.column.posted{
									display: none;
								}
							}

							@media screen and (max-width: 489px){
								ul.grid-list li div.column.posted{
									display: none;
								}
							}

						ul.grid-list li div.column.bonus{
							width: 150px;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 839px){
								#app-main.collapse ul.grid-list li div.column.bonus{
									display: none;
								}
							}

							@media screen and (max-width: 639px){
								ul.grid-list li div.column.bonus{
									display: none;
								}
							}

						ul.grid-list li div.column.more{
							float: right;
							width: 30px;
							height: 30px;
							background-image: url("../images/icon-ellipsis-light.svg");
							background-position: center;
							background-repeat: no-repeat;
							background-size: 16px auto;
						}

						ul.grid-list li.tall div.column.more{
							margin: 15px 0 0 0;
						}

							ul.grid-list li div.column.more:hover{
								background-image: url("../images/icon-ellipsis-orange.svg");
							}

							@media screen and (max-width: 469px){
								#app-main.collapse ul.grid-list li div.column.more{
									display: none;
								}
							}

							@media screen and (max-width: 319px){
								ul.grid-list li div.column.more{
									display: none;
								}
							}

						ul.grid-list li.tall input.user-select{
							float: left;
							margin: 20px 4px 0 4px;
						}

						@media screen and (max-width: 449px){
							ul.grid-list li.tall input.user-select{
								display: none;
							}
						}	

						ul.grid-list li div.column.user-picture{
							width: 44px;
							height: 44px;
							margin: 2px 0px 0px 4px;
							text-indent: 0;
							border-radius: 50%;
							border: 1px solid #cccccc;
							background-color: #eeeeee;
							background-image: url("../images/icon-user.svg");
							background-position: center 3px;
							background-repeat: no-repeat;
							background-size: auto 45px;
							overflow: hidden;
						}

						ul.grid-list li div.column.user-picture img{
							width: 44px;
							height: 44px;
						}

						ul.grid-list li div.column.user-info{
							display: block;
							float: left;
							margin: 8px 0 0 0;
							max-width: 300px;
							width: calc(100% - 90px);
						}

							@media screen and (max-width: 519px){
								#app-main.collapse ul.grid-list li div.column.user-info{
									width: calc(100% - 80px);
								}
							}

							ul.grid-list li div.column.user-info .name{
								font-size: 14px;
								color: #000000;
								line-height: 20px;
								width: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

							ul.grid-list li div.column.user-info .job{
								line-height: 15px;
								color: #888888;
								width: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}