/*
	Orange:	#ff9f00 255,159,0;
	Yellow: #faa21c 250,162,28;
	Gray:	#333333 51,51,51;
	Pink:	#ff0066 255,0,102;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400italic,400,300);
*{ margin: 0; padding: 0; font-family: sans-serif; font-size: 12px; color: #222222; cursor: default; }
*::selection{ background:transparent; }
html, body{ width: 100%; height: 100%; background-color: #ffffff; }
table{ border-collapse: collapse; border-spacing: 0; }
ol, ul{ list-style: none; list-style-type: none; }
textarea, input, button { outline: none; }
img{ border: 0; }

.transition{ -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms; transition: all 300ms; -webkit-backface-visibility: hidden;}
.no-transition{ -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none;}
.height-hack{ padding-bottom: 5000px; margin-bottom: -5000px; }

.activity-indicator { position: absolute; top:50%; left: 50%; text-align: center; }
.activity-indicator.inline { position: relative; top: 50%; left: 0; transform: translateY(-50%); }
.activity-indicator > div { width: 10px; height: 10px; background-color: #aaaaaa; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.activity-indicator.inline > div { width: 6px; height: 6px; }
.activity-indicator-button > div { width: 6px; height: 6px; background-color: #aaaaaa; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.activity-indicator .dot1, .activity-indicator-button .dot1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.activity-indicator .dot2, .activity-indicator-button .dot2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0.0) } 40% { -webkit-transform: scale(1.0) } }
@keyframes bouncedelay { 0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 40% { transform: scale(1.0); -webkit-transform: scale(1.0); } }


button{
	display: block;
	float: left;
	padding: 6px 12px;
	font-size: 12px;
	color: #666666;
	background-color: #ffffff;
	border: 1px solid #666666;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

button:hover{
	color: #333333;
	border: 1px solid #333333;
}

button:disabled{
	opacity: 0.5;
}

	button.primary{
		color: #ff0066;
		border: 1px solid #ff0066;
	}

	button.primary:hover{
		color: #ff0033;
		border: 1px solid #ff0033;
	}

	button.secondary{
		color: #ff9f00;
		border: 1px solid #ff9f00;
	}

	button.secondary:hover{
		color: #f67c0b;
		border: 1px solid #f67c0b;
	}

input[type=input],
input[type=email],
input[type=password]{
	display: block;
	float: left;
	font-size: 14px;
	color: #222222;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

input[type=input]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=input]:focus,
input[type=email]:focus,
input[type=password]:focus{
	border-color: #ff9f00;
}

input[type=input]:focus,
input[type=email]:focus,
input[type=password]:focus{
	box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
}

input::selection{
	background: #f7ebc0;
}


.app{
	position: relative;
	display: block;
	float: left;
	clear: both;
	min-width: 320px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	#rbc-logo{
		position: absolute;
		display: none;
		float: left;
		bottom: 18px;
		left: 50%;
		margin: 0 0 0 -80px;
		width: 160px;
		height: 45px;
		background-image: url("../images/logo-rbc.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 160px 45px;
	}

	.app.portal #rbc-logo{
		display : block;
	}

	@media screen and (max-height: 800px){
		.app.portal #rbc-logo{
			display : none;
		}
	}

	#app-modal{
		position: absolute;
		display: none;
		float: left;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;
		background-color: rgba(51,51,51,0.50);
		z-index: 9997;
	}

	#app-modal.show{
		display: block;
	}

	.dialog{
		position: fixed;
		display: none;
		float: left;
		top:50%;
		left:50%;
		border-radius: 2px;
		background-color: #f5f5f5;
		box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.25);
		overflow: hidden;
		z-index: 9999;
	}

	.dialog.show{
		display: block;
	}

		.dialog .title{
			display: block;
			float: left;
			width: 100%;
			line-height: 40px;
			font-size: 16px;
			font-family: "Roboto", sans-serif;
			color: #444444;
			text-align: center;
			border-bottom: 1px solid #cccccc;
			box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.8);
		}

		.dialog input[type=input],
		.dialog input[type=email],
		.dialog input[type=password]{
			clear: both;
			padding: 8px 10px;
			width: calc(100% - 40px);
			margin: 5px 10px;
		}

	ul.context-menu{
		position: absolute;
		display: block;
		float: left;
		max-width: 300px;
		border-radius: 2px;
		background-color: #f5f5f5;
		box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.15);
		border: 1px solid #cccccc;
		white-space: nowrap;
		overflow: hidden;
		z-index: 9996;
	}

		ul.context-menu li{
			display: block;
			float: left;
			clear: both;
			padding: 0 10px 0 0;
			width: 100%;
			line-height: 32px;
			text-indent: 10px;
			color: #444444;
		}

		ul.context-menu li:hover{
			background-color: #fffbf5;
		}

		ul.context-menu li.disabled{
			color: #aaaaaa;
		}

		ul.context-menu li.disabled:hover{
			background-color: #f5f5f5;
		}

		ul.context-menu li.divider{
			height: 0;
			border-bottom: 1px dotted #dddddd;
		}

	#app-relogin.dialog{
		width: 300px;
		height: 185px;
		margin: -95px 0 0 -150px;
	}

		#app-relogin.dialog #relogin-email{
			margin-top: 10px;
		}

		#app-relogin.dialog button{
			margin: 5px 10px;
			width: calc(50% - 20px);
		}

		#app-relogin.dialog .activity-indicator-button{
			display: none;
			float: left;
			margin: 5px 9px 5px 10px;
			padding: 6px 52px;
			background-color: #ffffff;
			border: 1px solid #666666;
			border-radius: 4px;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
		}

		#app-relogin.dialog.load #relogin{
			display: none;
		}

		#app-relogin.dialog.load #relogin-animate{
			display: block;
		}

	#app-menu{
		position: relative;
		display: block;
		float: left;
		width: 200px;
		height: 100%;
		background-color: #333333;
		box-shadow: inset -2px 0 3px 0 rgba(0,0,0,0.30);
		overflow: auto;
		white-space: nowrap;
	}

	@media screen and (max-width: 1024px){
		#app-menu{
			width: 0px;
		}
	}

	#app-menu.show{
		width: 200px;
	}

	.app.portal #app-menu{
		width: 0px;
	}

		#app-menu .user-info{
			display: block;
			float: left;
			clear: both;
			width: 200px;
			margin: 10px 0;
			padding: 0 0 8px 0;
			border-bottom: 1px dotted #444444;
		}

			#app-menu .user-info > .employer-logo,
			#app-menu .user-info > .user-photo{
				display: block;
				float: left;
				clear: both;
				width: 78px;
				height: 78px;
				margin: 0 60px;
				border-radius: 50%;
				border: 1px solid #323232;
				background-color: #434343;
				background-image: url("../images/icon-location-dark.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 40px;
				overflow: hidden;
			}

				#app-menu .user-info > .user-photo{
					background-image: url("../images/icon-user-dark.svg");
					background-position: center 8px;
					background-size: 76px;
				}

				#app-menu .user-info > .employer-logo > img,
				#app-menu .user-info > .user-photo > img{
					display: block;
					float: left;
					width: 78px;
					height: 78px;
				}

			#app-menu .user-info > .user-name{
				display: block;
				float: left;
				width: calc(100% - 30px);
				margin: 8px 15px 0 15px;
				color: #eeeeee;
				font-family: "Roboto", sans-serif;
				font-size: 13px;
				line-height: 18px;
				font-weight: 300;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			#app-menu .user-info > .employer-name{
				display: block;
				float: left;
				width: calc(100% - 30px);
				margin: 0 15px 0 15px;
				color: #ff9f00;
				font-family: "Roboto", sans-serif;
				font-size: 13px;
				line-height: 18px;
				font-weight: 300;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			#app-menu .user-info > .employer-name.more{
				width: calc(100% - 48px);
				padding: 0 18px 0 0;
				background-image: url("../images/icon-employer-switch-arrow.svg");
				background-repeat: no-repeat;
				background-position: right 1px;
				background-size: 18px;
			}

				#app-menu .user-info > .employer-name.more:hover{
					color: #faa21c;
				}

			#app-menu .user-info > .employers-list{
				position: absolute;
				display: block;
				float: left;
				opacity: 0;
				width: 190px;
				height: 0;
				max-height: 200px;
				top: 140px;
				left: 5px;
				background-color: #ffffff;
				border-radius: 1px;
				box-shadow: 0 1px 4px 0 rgba(0,0,0,1);
				overflow: auto;
				white-space: nowrap;
			}

			#app-menu .user-info > .employers-list.show{
				opacity: 1;
				height: auto;
			}

				#app-menu .user-info > .employers-list li{
					display: block;
					float: left;
					clear: both;
					width: 100%;
					color: #222222;
					text-indent: 10px;
					font-family: "Roboto", sans-serif;
					font-size: 12px;
					line-height: 36px;
					font-weight: 300;
					overflow: hidden;
					text-overflow: ellipsis;
				}

					#app-menu .user-info > .employers-list li.selected{
						color: #ff9f00;
					}

					#app-menu .user-info > .employers-list li:hover{
						background-color: #ff9f00;
						color: #ffffff;
					}

		#app-menu ul.menu-list{
			display: block;
			float: left;
			clear: both;
			width: 100%;
		}

		#app-menu ul.menu-list li{
			display: block;
			float: left;
			clear: both;
			width: 100%;
		}

			#app-menu ul.menu-list li label{
				display: block;
				float: left;
				clear: both;
				width: calc(100% - 34px);
				line-height: 42px;
				color: #cccccc;
				font-family: "Roboto" sans-serif;
				font-size: 16px;
				font-weight: 300;
				text-indent: 10px;
			}

				#app-menu ul.menu-list li:hover label{
					color: #ffffff;
				}

			#app-menu ul.menu-list li div.count{
				display: block;
				float: right;
				width: 34px;
				line-height: 42px;
				color: #ff0066;
				text-align: center;
				font-family: "Roboto" sans-serif;
				font-size: 12px;
			}

			#app-menu ul.menu-list li div.count.zero{
				color: #888888;
			}

		#app-menu ul.menu-list li.divider{
			background-image: none;
			line-height: 0;
			height: 0px;
			border-bottom: 1px dotted #444444;
			border-top: 1px dotted #222222;
		}

	#app-main{
		position: relative;
		display: block;
		float: left;
		width: calc(100% - 200px);
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
	}

	@media screen and (max-width: 1024px){
		#app-main{
			width: 100%;
		}
	}

	#app-main.collapse{
		width: calc(100% - 200px);
	}

	.app.portal #app-main{
		width: 100%;
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

		#app-head{
			display: block;
			float: left;
			clear: both;
			width: 100%;
			height: 40px;
			background-color: #333333;
			overflow: hidden;
			white-space: nowrap;
		}

			#app-head > .icon{
				display: none;
				float: left;
				width: 40px;
				height: 40px;
				background-image: url("../images/icon-menu.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 40px auto;
			}

			@media screen and (max-width: 1024px){
				#app-head > .icon{
					display: block;
				}

				.app.portal #app-head > .icon{
					display: none;
				}
			}

			#app-head > .logo{
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				background-image: url("../images/HSPostEmblem.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 24px auto;
			}

			@media screen and (max-width: 1024px){
				#app-head > .logo{
					display: none;
				}

				.app.portal #app-head > .logo{
					display: block;
				}
			}

			#app-head > .heading{
				display: block;
				float: left;
				line-height: 40px;
				font-family: "Roboto", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			@media screen and (max-width: 465px){
				#app-main.collapse #app-head > .heading{
					width: 50%;
				}
			}

			#app-head > .message{
				display: none;
				width: 320px;
				height: 40px;
				margin: 0 auto;
				line-height: 40px;
				font-family: "Roboto", sans-serif;
				font-weight: 300;
				font-size: 14px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.app.portal #app-head > .message{
				display: block;
			}

			@media screen and (max-width: 800px){
				#app-head > .message,
				.app.portal #app-head > .message{
					display: none;
				}
			}

			

		#app-body{
			position: relative;
			display: block;
			float: left;
			clear: both;
			width: 100%;
			height: calc(100% - 40px);
			overflow: auto;
		}

			#app-toast{
				position: absolute;
				display: block;
				float: right;
				width: 100%;
				top: -40px;
				right: 0;
				padding: 8px 0;
				background-color: #f2f2f2;
				opacity: 0;
				z-index: 9998;
			}

			#app-toast.show{
				top: 0px;
				opacity: 1;
			}

				#app-toast .message{
					display: block;
					float: left;
					width: calc(100% - 20px);
					margin: 0 10px;
					text-align: center;
					color: #ff0066;
					font-family: "Roboto", sans-serif;
					font-size: 16px;
					font-weight: 300;
					white-space: pre-wrap;
				}

			#app-notifications{
				position: relative;
				display: block;
				float: right;
				right: 0;
				width: 0;
				background-color: #f2f2f2;	
				box-shadow: inset 2px 0 3px 0 rgba(0,0,0,0.05);
			}

			#app-notifications.show{
				width: 259px;
			}

			@media screen and (max-width: 460px){
				#app-notifications.show{
					width: 100%;
				}
			}

			#app-content{
				display: block;
				float: left;
				clear: both;
				width: 100%;
			}

				.portal-form-container{
					display: block;
					width: 320px;
					height: 340px;
					margin: 110px auto 20px auto;
					background-color: rgba(0,0,0,0.70);
				}

				@media screen and (max-width: 800px){
					.portal-form-container{
						margin: 60px auto 20px auto;
						width: 300px;
					}
				}

					.portal-form-container > .logo{
						display: block;
						float: left;
						clear: both;
						width: calc(100% - 60px);
						margin: 20px 30px 10px;
						height: 60px;
						background-image: url("../images/logo-hsp-white.png");
						background-position: center;
						background-repeat: no-repeat;
						background-size: auto 80px;
					}

					.portal-form-container input[type=input],
					.portal-form-container input[type=email],
					.portal-form-container input[type=password]{
						display: block;
						float: left;
						clear: both;
						padding: 8px 10px;
						width: calc(100% - 80px);
						margin: 5px 30px;
						font-size: 14px;
						color: #dddddd;
						background-color: rgba(0,0,0,0.30);
						border: 1px solid #dddddd;
						border-radius: 4px;
					}

					.portal-form-container input[type=input]:hover,
					.portal-form-container input[type=email]:hover,
					.portal-form-container input[type=password]:hover,
					.portal-form-container input[type=input]:focus,
					.portal-form-container input[type=email]:focus,
					.portal-form-container input[type=password]:focus{
						border-color: #ff9f00;
					}

					.portal-form-container input[type=input]:focus,
					.portal-form-container input[type=email]:focus,
					.portal-form-container input[type=password]:focus{
						box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
					}

					.portal-form-container input::selection{
						background: #ff9f00;
					}

					.portal-form-container input#login-email{
						margin-top: 20px;
					}

					.portal-form-container .remember-me{
						display: block;
						float: left;
						clear: both;
						margin: 10px 0 10px 30px;
					}

						.portal-form-container .remember-me input[type="checkbox"]{
							display: block;
							float: left;
						}

						.portal-form-container .remember-me input[type="checkbox"]:focus{
							box-shadow: 0 0 10px 0 rgba(255,159,0,0.5);

						}

						.portal-form-container .remember-me label{
							display: block;
							float: left;
							color: #bbbbbb;
							margin: 0 0 0 4px;
						}

					.portal-form-container button,
					.portal-form-container .activity-indicator-button{
						display: block;
						float: left;
						clear: both;
						padding: 8px 0;
						width: calc(100% - 60px);
						margin: 15px 30px;
						text-align: center;
						font-size: 14px;
						color: #dddddd;
						background-color: rgba(0,0,0,0.50);
						border: 1px solid #dddddd;
						border-radius: 4px;
					}

					.portal-form-container .activity-indicator-button{
						display: none;
						width: calc(100% - 62px);
					}

					.portal-form-container.load button{
						display: none;
					}

					.portal-form-container.load .activity-indicator-button{
						display: block;
					}

					.portal-form-container button:hover,
					.portal-form-container button:focus{
						color: #ff9f00;
						border: 1px solid #ff9f00;
						
					}

					.portal-form-container button:active{
						box-shadow: 0 0 10px 0 rgba(255,159,0,0.25);
					}

					.portal-form-container a{
						display: block;
						float: left;
						clear: both;
						width: calc(100% - 60px);
						margin: 5px 30px;
						font-size: 12px;
						text-align: center;
						color: #dddddd;
					}

					.portal-form-container a:hover,
					.portal-form-container a:focus{
						color: #ff9f00;
					}

				.page-title{
					display: block;
					float: left;
					clear: both;
					margin: 10px 15px;
					font-family: "Roboto", sans-serif;
					font-size: 32px;
					font-weight: 300;
					color: #ff9f00;
					text-transform: uppercase;
				}

				.empty-page{
					display: block;
					float: left;
					clear: both;
					width: calc(100% - 40px);
					min-width: 280px;
					margin: 20px;
					text-align: center;
					color: #666666;
					font-family: "Roboto", sans-serif;
					font-size: 20px;
					font-weight: 300;
					white-space: normal;
				}

					.empty-page > button{
						float: none;
						width: 150px;
						margin: 20px auto 0 auto;
					}

				@media screen and (max-width: 800px){
					.page-title{
						font-size: 24px;
					}
				}

				.page-tools{
					display: block;
					float: left;
					width: calc(100% - 30px);
					min-width: 280px;
					margin: 10px 15px 10px 15px;
					overflow: hidden;
				}

				.page-tools button{
					margin: 0 10px 0 0;
				}

				div.grid-list-title{
					display: block;
					float: left;
					clear: both;
					margin: 10px 15px;
					font-size: 16px;
					font-weight: 700;
					color: #444444;
				}

				ul.grid-list{
					display: block;
					float: left;
					width: calc(100% - 30px);
					min-width: 290px;
					margin: 0 15px 15px 15px;
					overflow: hidden;
					white-space: nowrap;
				}

					ul.grid-list li{
						display: block;
						float: left;
						clear: both;
						width: 100%;
						min-width: 290px;
						height: 30px;
						padding: 4px 0;
						border-bottom: 1px dotted #cccccc;
						background-color: #ffffff;
						overflow: hidden;
						white-space: nowrap;
					}

					ul.grid-list li:nth-child(even){
						background-color: #fcfcfc;
					}

					ul.grid-list li:hover{
						background-color: #fffbf5;
					}

					ul.grid-list li.tall{
						height: 50px;
					}

						
						ul.grid-list li div.column{
							display: block;
							float: left;
							text-indent: 8px;
							line-height: 30px;
							font-family: sans-serif;
							font-size: 12px;
							color: #444444;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

							ul.grid-list li div.column span{
								color: #ff0066;
							}

						ul.grid-list li div.column.empty-list{
							font-size: 14px;
							color: #aaaaaa;
						}

						ul.grid-list li div.column.job-name{
							width: 150px;
							font-weight: 400;
							font-size: 14px;
							color: #000000;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 559px){
								#app-main.collapse ul.grid-list li div.column.job-name{
									border-right: none;
									width: calc(100% - 30px);
								}
							}	

							@media screen and (max-width: 359px){
								ul.grid-list li div.column.job-name{
									border-right: none;
									width: calc(100% - 30px);
								}
							}

						ul.grid-list li div.column.job-wage{
							width: 140px;
							border-right: 1px dotted #cccccc;
						}

							
							@media screen and (max-width: 689px){
								#app-main.collapse ul.grid-list li div.column.job-wage{
									display: none;
								}
							}

							@media screen and (max-width: 489px){
								ul.grid-list li div.column.job-wage{
									display: none;
								}
							}

						ul.grid-list li div.column.posted{
							width: 130px;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 559px){
								#app-main.collapse ul.grid-list li div.column.posted{
									display: none;
								}
							}

							@media screen and (max-width: 359px){
								ul.grid-list li div.column.posted{
									display: none;
								}
							}

						ul.grid-list li div.column.bonus{
							width: 150px;
							border-right: 1px dotted #cccccc;
						}

							@media screen and (max-width: 839px){
								#app-main.collapse ul.grid-list li div.column.bonus{
									display: none;
								}
							}

							@media screen and (max-width: 639px){
								ul.grid-list li div.column.bonus{
									display: none;
								}
							}

						ul.grid-list li div.column.more{
							float: right;
							width: 30px;
							height: 30px;
							background-image: url("../images/icon-ellipsis-light.svg");
							background-position: center;
							background-repeat: no-repeat;
							background-size: 16px auto;
						}

						ul.grid-list li.tall div.column.more{
							margin: 15px 0 0 0;
						}

							ul.grid-list li div.column.more:hover{
								background-image: url("../images/icon-ellipsis-orange.svg");
							}

							@media screen and (max-width: 469px){
								#app-main.collapse ul.grid-list li div.column.more{
									display: none;
								}
							}

							@media screen and (max-width: 319px){
								ul.grid-list li div.column.more{
									display: none;
								}
							}

						ul.grid-list li.tall input.user-select{
							float: left;
							margin: 20px 4px 0 4px;
						}

						@media screen and (max-width: 449px){
							ul.grid-list li.tall input.user-select{
								display: none;
							}
						}	

						ul.grid-list li div.column.user-picture,
						ul.grid-list li div.column.employer-logo{
							width: 44px;
							height: 44px;
							margin: 2px 0px 0px 4px;
							text-indent: 0;
							border-radius: 50%;
							border: 1px solid #cccccc;
							background-color: #eeeeee;
							background-image: url("../images/icon-user-light.svg");
							background-position: center 3px;
							background-repeat: no-repeat;
							background-size: auto 45px;
							overflow: hidden;
						}

						ul.grid-list li div.column.employer-logo{
							background-image: url("../images/icon-location-light.svg");
							background-position: center 9px;
							background-size: auto 25px;
						}

						ul.grid-list li div.column.user-picture img,
						ul.grid-list li div.column.employer-logo img{
							width: 44px;
							height: 44px;
						}

						ul.grid-list li div.column.user-info,
						ul.grid-list li div.column.employer-info{
							display: block;
							float: left;
							margin: 8px 0 0 0;
							max-width: 300px;
							width: calc(100% - 90px);
						}

							@media screen and (max-width: 519px){
								#app-main.collapse ul.grid-list li div.column.user-info,
								#app-main.collapse ul.grid-list li div.column.employer-info{
									width: calc(100% - 80px);
								}
							}

							ul.grid-list li div.column.user-info .name,
							ul.grid-list li div.column.employer-info .name{
								font-size: 14px;
								color: #000000;
								line-height: 20px;
								width: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

							ul.grid-list li div.column.user-info .job,
							ul.grid-list li div.column.employer-info .location{
								line-height: 15px;
								color: #888888;
								width: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

				ul.tabs{
					display: block;
					float: left;
					clear: both;
					margin: 0 0 10px 0;
					width: 100%;
					min-width: 320px;
					background-color: #e5e5e5;
					white-space: nowrap;
					overflow: hidden;
				}

				ul.tabs li{
					display: block;
					float: left;
					line-height: 46px;
					padding: 0 15px;
					font-size: 14px;
					color: #666666;
					font-family: "Roboto", sans-serif;
					font-weight: 300;
					background-color: #e5e5e5;
					border-right: 1px solid #cccccc;
				}

				ul.tabs li:hover{
					color: #222222;
				}

				ul.tabs li:last-of-type{
					border-right: none;
				}

				ul.tabs li.selected{
					background-color: #ffffff;
					color: #ff9f00;
				}

				.panel{
					display: none;
					float: left;
					clear: both;
					width: 100%;
				}

				.panel.show{
					display: block;
				}


				.profile-row{
					display: block;
					float: left;
					clear: both;
					margin: 10px 15px;
					width: calc(100% - 30px);
					min-width: 280px;
					overflow: hidden;
					white-space: nowrap;
					border-bottom: 1px dotted #dddddd;
				}

					.row-title{
						display: block;
						float: left;
						clear: both;
						width: 100%;
						font-size: 18px;
						line-height: 24px;
						color: #444444;
						font-family: "Roboto", sans-serif;
					}

					.profile-info{
						display: block;
						float: left;
						clear: both;
						margin: 10px 0 0 0;
						width: 100%;
					}

					.profile-info .profile-photo{
						display: block;
						float: left;
						width: 78px;
						height: 78px;
						border: 1px solid #cccccc;
						border-radius: 50%;
						background-color: #eeeeee;
						background-image: url("../images/icon-user-light.svg");
						background-position: center 8px;
						background-repeat: no-repeat;
						background-size: auto 76px;
						overflow: hidden;
					}
						.profile-info .profile-photo img{
							width: 78px;
							height: 78px;
						}

					.profile-info .profile-details{
						display: block;
						float: left;
						margin: 10px 0 0 8px;
						width: calc(100% - 90px);
					}

						.profile-info .profile-details > .primary-work{
							display: block;
							float: left;
							clear: both;
							width: 100%;
						}

						.profile-info .profile-details > .primary-work .position,
						.profile-info .profile-details > .primary-work .location{
							display: block;
							float: left;
							margin: 0 15px 4px 0;
							font-weight: bold;
							font-size: 14px;
							text-indent: 16px;
							color: #444444;
							background-image: url("../images/icon-briefcase.svg");
							background-repeat: no-repeat;
							background-position: 0 1px;
							background-size: 12px;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.profile-info .profile-details > .primary-work .location{
							text-indent: 14px;
							background-image: url("../images/icon-location-dark.svg");
						}

						.profile-info .profile-details > .about{
							display: block;
							float: left;
							clear: both;
							margin: 0;
							width: 100%;
							text-indent: 2px;
							font-size: 14px;
							color: #898989;
							white-space: normal;
						}

					.profile-info .profile-actions{
						display: block;
						float: left;
						clear: both;
						width: 100%;
						margin: 5px 0;
					}

					@media screen and (max-width: 499px){
						.profile-info .profile-actions{
							margin: 20px 0 5px 0;		
						}
					}

						.profile-info .profile-actions button{
							padding: 6px 20px 6px 30px;
							margin: 0 0 0 10px;
							float: right;
						}

						.profile-info .profile-actions button.connect{
							background-image: url("../images/icon-users-dark.svg");
							background-repeat: no-repeat;
							background-position: 10px 4px;
							background-size: 16px;
						}

						.profile-info .profile-actions button.primary.connect{
							background-image: url("../images/icon-users-pink.svg");
						}

						.profile-info .profile-actions button.endorse{
							background-image: url("../images/icon-thumbs-up-dark.svg");
							background-repeat: no-repeat;
							background-position: 9px 4px;
							background-size: 16px;
						}

						.profile-info .profile-actions button.primary.endorse{
							background-image: url("../images/icon-thumbs-up-pink.svg");
						}

						@media screen and (max-width: 449px){
							.profile-info .profile-actions button{
								padding: 6px 0;
								width: calc(50% - 10px);
								margin: 0 5px;
							}

							.profile-info .profile-actions button.connect,
							.profile-info .profile-actions button.endorse,
							.profile-info .profile-actions button.primary.connect,
							.profile-info .profile-actions button.primary.endorse{
								background-image: none;
							}
						}

					.profile-info .profile-kpis{
						display: block;
						float: left;
						clear: both;
						width: 100%;
						margin: 10px 0 0 0;
						border-top: 1px dotted #dddddd;
					}

						.profile-info .profile-kpis > .endorsements,
						.profile-info .profile-kpis > .connections,
						.profile-info .profile-kpis > .places-worked{
							display: block;
							float: left;
							margin: 4px 0;
							max-width: 33%;
							min-width: 90px;
							width: 100%;
							height: 40px;
							text-indent: 34px;
							border-right: 1px dotted #dddddd;
							background-image: url("../images/icon-thumbs-up-pink.svg");
							background-repeat: no-repeat;
							background-position: 6px 10px;
							background-size: 20px;
						}

						.profile-info .profile-kpis > .connections{
							background-image: url("../images/icon-users-pink.svg");
						}

						.profile-info .profile-kpis > .places-worked{
							max-width: calc(34% - 2px);
							text-indent: 30px;
							border-right: none;
							background-image: url("../images/icon-location-pink.svg");
							background-position: 8px 10px;
							background-size: 18px;
						}

						.profile-info .profile-kpis > .endorsements:hover,
						.profile-info .profile-kpis > .connections:hover,
						.profile-info .profile-kpis > .places-worked:hover{
							background-color: #fffbf5;
						}

							.profile-info .profile-kpis > .endorsements label,
							.profile-info .profile-kpis > .connections label,
							.profile-info .profile-kpis > .places-worked label{
								display: block;
								float: left;
								clear: both;
								color: #444444;
								font-size: 14px;
								margin: 4px 0 0 0;
								font-weight: bolder;
							}

							.profile-info .profile-kpis > .endorsements div,
							.profile-info .profile-kpis > .connections div,
							.profile-info .profile-kpis > .places-worked div{
								display: block;
								float: left;
								clear: both;
								font-size: 14px;
							}

							@media screen and (max-width: 649px){
								#app-main.collapse .profile-info .profile-kpis > .endorsements label,
								#app-main.collapse .profile-info .profile-kpis > .connections label,
								#app-main.collapse .profile-info .profile-kpis > .places-worked label{
									display: none;
								}

								#app-main.collapse .profile-info .profile-kpis > .endorsements div,
								#app-main.collapse .profile-info .profile-kpis > .connections div,
								#app-main.collapse .profile-info .profile-kpis > .places-worked div{
									margin: 13px 0 0 0;
								}
							}

							@media screen and (max-width: 449px){
								.profile-info .profile-kpis > .endorsements label,
								.profile-info .profile-kpis > .connections label,
								.profile-info .profile-kpis > .places-worked label{
									display: none;
								}

								.profile-info .profile-kpis > .endorsements div,
								.profile-info .profile-kpis > .connections div,
								.profile-info .profile-kpis > .places-worked div{
									margin: 13px 0 0 0;
								}
							}

				ul.work-history-list{
					display: block;
					float: left;
					clear: both;
					width: 100%;
					margin: 10px 0 0 0;
				}

					ul.work-history-list li{
						display: block;
						float: left;
						clear: both;
						width: 100%;
					}

					ul.work-history-list li:nth-child(even){
						background-color: #fcfcfc;
					}

						ul.work-history-list li > .empty{
							color: #aaaaaa;
							font-size: 14px;
						}

						ul.work-history-list li .work-history-info{
							display: block;
							float: left;
							clear: both;
							width: 100%;
							padding: 5px 0;
						}

							ul.work-history-list li .work-history-info > .employer-logo{
								display: block;
								float: left;
								width: 60px;
								height: 60px;
								margin: 0 0 0 5px;
								border: 1px solid #cccccc;
								border-radius: 50%;
								background-color: #eeeeee;
								background-image: url("../images/icon-location-light.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: auto 30px;
								overflow: hidden;
							}

								ul.work-history-list li .work-history-info > .employer-logo img{
									width: 60px;
									height: 60px;
								}

							ul.work-history-list li .work-history-info > .employment-details{
								float: left;
								margin: 4px 0 0 8px;
								width: calc(100% - 80px);
							}

								ul.work-history-list li .work-history-info > .employment-details > .position,
								ul.work-history-list li .work-history-info > .employment-details > .location,
								ul.work-history-list li .work-history-info > .employment-details > .dates{
									display: block;
									float: left;
									clear: both;
									margin: 0 0 4px 0;
									font-size: 14px;
									text-indent: 16px;
									color: #444444;
									background-image: url("../images/icon-briefcase.svg");
									background-repeat: no-repeat;
									background-position: 0 1px;
									background-size: 12px;
									overflow: hidden;
									text-overflow: ellipsis;
									width: 100%;
								}

								ul.work-history-list li .work-history-info > .employment-details > .location{
									text-indent: 14px;
									background-image: url("../images/icon-location-dark.svg");	
								}

								ul.work-history-list li .work-history-info > .employment-details > .dates{
									margin: 0;
									background-image: none;
									font-size: 12px;
									color: #888888;
									text-indent: 2px;
								}

				.messages-container{
					display: block;
					float: left;
					clear: both;
					width: calc(100% - 30px);
					min-width: 290px;
					margin: 0 15px;
					overflow: hidden;
				}

					.messages-container > .scrollable{
						display: block;
						float: left;
						clear: both;
						width: 100%;
						height: 100%;
					}

					@media screen and (max-width: 949px){
						#app-main.collapse .messages-container > .scrollable{
							width: 200%;
						}
					}

					@media screen and (max-width: 749px){
						.messages-container > .scrollable{
							width: 200%;
						}
					}

						.messages-container > .scrollable > .head{
							display: block;
							float: left;
							clear: both;
							width: 100%;
							height: 40px;
							border-bottom: 1px dotted #cccccc;
						}

							.messages-container > .scrollable > .head > .search{
								display: block;
								float: left;
								width: 310px;
								height: 30px;
								margin: 5px 0;
								border-right: 1px dotted #cccccc;
							}

							@media screen and (max-width: 949px){
								#app-main.collapse .messages-container > .scrollable > .head > .search{
									width: 50%;
									border-right: none;
								}
							}

							@media screen and (max-width: 749px){
								.messages-container > .scrollable > .head > .search{
									width: 50%;
									border-right: none;
								}
							}

								.messages-container > .scrollable > .head > .search input#search-messages-field{
									float: left;
									margin: 2px 0;
									width: calc(100% - 40px);
									height: 25px;
									border: none;
									outline: none;
									color: #444444;
									font-family: "Roboto", sans-serif;
									font-size: 16px;
									font-weight: 300;
									text-indent: 6px;
								}

								.messages-container > .scrollable > .head > .search .search-icon{
									display: block;
									float: right;
									width: 30px;
									height: 30px;
									background-image: url("../images/icon-search-pink.svg");
									background-repeat: no-repeat;
									background-position: center;
									background-size: 12px;
									cursor: pointer;
								}

							.messages-container > .scrollable > .head > .thread-info{
								display: block;
								float: left;
								width: calc(100% - 320px);
								height: 40px;
								line-height: 40px;
								color: #444444;
								font-family: "Roboto", sans-serif;
								font-size: 16px;
								font-weight: 300;
								text-indent: 10px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

							@media screen and (max-width: 949px){
								#app-main.collapse .messages-container > .scrollable > .head > .thread-info{
									width: 50%;
									text-indent: 20px;
									background-image: url("../images/icon-caret-left-pink.svg");
									background-repeat: no-repeat;
									background-position: 0 8px;
									background-size: 24px;
									cursor: pointer;
								}
							}

							@media screen and (max-width: 749px){
								.messages-container > .scrollable > .head > .thread-info{
									width: 50%;
									text-indent: 20px;
									background-image: url("../images/icon-caret-left-pink.svg");
									background-repeat: no-repeat;
									background-position: 0 8px;
									background-size: 24px;
									cursor: pointer;
								}
							}

							.messages-container > .scrollable > .head > .thread-info > span{
								line-height: 40px;
								font-family: "Roboto", sans-serif;
								font-size: 16px;
								font-weight: 400;
								cursor: pointer;
							}

						.messages-container > .scrollable > .body{
							display: block;
							float: left;
							clear: both;
							width: 100%;
							height: calc(100% - 40px);
						}

							.messages-container > .scrollable > .body > .threads-list-container{
								display: block;
								float: left;
								margin: 5px 0;
								width: 310px;
								height: calc(100% - 10px);
								overflow: auto;
								border-right: 1px dotted #cccccc;
							}

							@media screen and (max-width: 949px){
								#app-main.collapse .messages-container > .scrollable > .body > .threads-list-container{
									width: 50%;
									border-right: none;
								}
							}

							@media screen and (max-width: 749px){
								.messages-container > .scrollable > .body > .threads-list-container{
									width: 50%;
									border-right: none;
								}
							}

							.messages-container > .scrollable > .body > .threads-list-container > .blank-list{
								display: block;
								float: left;
								clear: both;
								width: calc(100% - 20px);
								margin: 10px;
								font-family: "Roboto", sans-serif;
								font-size: 18px;
								text-align: center;
								color: #666666;
								white-space: normal;
							}

							.messages-container > .scrollable > .body > .thread-view{
								display: block;
								float: left;
								width: calc(100% - 312px);
								height: 100%;
								overflow: hidden;
							}

							@media screen and (max-width: 949px){
								#app-main.collapse .messages-container > .scrollable > .body > .thread-view{
									width: 50%;
								}
							}

							@media screen and (max-width: 749px){
								.messages-container > .scrollable > .body > .thread-view{
									width: 50%;
								}
							}

								.messages-container > .scrollable > .body > .thread-view > .blank-view{
									display: block;
									float: left;
									clear: both;
									width: calc(100% - 20px);
									margin: 10px;
									font-family: "Roboto", sans-serif;
									font-size: 14px;
									color: #aaaaaa;
									white-space: normal;
								}

								.messages-container > .scrollable > .body > .thread-view > .reply-view{
									display: block;
									float: left;
									width: 100%;
									height: 49px;
									border-top: 1px dotted #cccccc;
								}

									.messages-container > .scrollable > .body > .thread-view > .reply-view #reply-field{
										float: left;
										margin: 12px 0 0 0;
										padding: 0 0 0 6px;
										width: calc(100% - 96px);
										height: 25px;
										border: none;
										outline: none;
										color: #444444;
										font-family: "Roboto", sans-serif;
										font-size: 16px;
										font-weight: 300;
										resize: none;
									}

									.messages-container > .scrollable > .body > .thread-view > .reply-view #reply-button{
										margin: 12px 5px 0 5px;
										width: 80px;
									}


								

				ul.threads-list{
					display: block;
					float: left;
					clear: both;
					width: 100%;
				}

					ul.threads-list li{
						display: block;
						float: left;
						clear: both;
						width: calc(100% - 5px);
						padding: 5px 0;
						border-bottom: 1px dotted #cccccc;
						border-left: 3px solid transparent;
					}

					ul.threads-list li:nth-child(even){
						background-color: #fcfcfc;
					}

					ul.threads-list li:hover,
					ul.threads-list li.selected{
						background-color: #fffbf5;
					}

					ul.threads-list li.new{
						width: calc(100% - 8px);
						border-left: 3px solid #ff9f00;
					}

					@media screen and (max-width: 949px){
						#app-main.collapse ul.threads-list li{
							width: 100%;
						}

						#app-main.collapse ul.threads-list li.new{
							width: calc(100% - 3px);
						}
					}

					@media screen and (max-width: 749px){
						ul.threads-list li{
							width: calc(100% - 3px);
						}

						ul.threads-list li.new{
							width: calc(100% - 3px);
						}
					}

						ul.threads-list > li > .picture{
							display: block;
							float: left;
							width: 38px;
							height: 38px;
							margin: 0 0 0 8px;
							border-radius: 50%;
							border: 1px solid #cccccc;
							background-color: #eeeeee;
							background-image: url("../images/icon-user-light.svg");
							background-position: center 4px;
							background-repeat: no-repeat;
							background-size: auto 36px;
							overflow: hidden;
						}

							ul.threads-list > li > .picture img{
								width: 40px;
								height: 40px;
							}

						ul.threads-list > li > .info{
							display: block;
							float: left;
							width: calc(100% - 52px);
							margin: 2px 0 0 4px;
							overflow: hidden;
						}

						ul.threads-list > li > .info > .name{
							display: block;
							float: left;
							width: calc(100% - 10px);
							clear: both;
							line-height: 20px;
							font-size: 12px;
							color: #222222;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}

						ul.threads-list li.new > .info > .name{
							font-weight: bold;
						}

						ul.threads-list > li > .info > .message{
							display: block;
							float: left;
							width: calc(100% - 10px);
							clear: both;
							font-size: 12px;
							line-height: 14px;
							color: #888888;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}

						ul.threads-list > li.new > .info > .message{
							color: #111111;
						}

						ul.threads-list > li > .info > .message.incoming{
							text-indent: 16px;
							background-image: url("../images/icon-reply-light.svg");
							background-position: 2px 0px;
							background-repeat: no-repeat;
							background-size: auto 12px;
						}

						ul.threads-list > li > .info > .message.outgoing{
							text-indent: 16px;
							background-image: url("../images/icon-forward-light.svg");
							background-position: 2px 0px;
							background-repeat: no-repeat;
							background-size: auto 12px;
						}

				ul.messages-list{
					display: block;
					float: left;
					clear: both;
					width: 100%;
					height: calc(100% - 50px);
					overflow: auto;
				}

					ul.messages-list li{
						display: block;
						float: left;
						clear: both;
						margin: 0 0 0 5px;
						padding: 5px 0;
						width: calc(100% - 8px);
						border-left: 3px solid transparent;
					}

					ul.messages-list li:nth-child(even){
						background-color: #fcfcfc;
					}

						ul.messages-list li .picture{
							display: block;
							float: left;
							width: 38px;
							height: 38px;
							margin: 0 0 0 8px;
							border-radius: 50%;
							border: 1px solid #cccccc;
							background-color: #eeeeee;
							background-image: url("../images/icon-user-light.svg");
							background-position: center 4px;
							background-repeat: no-repeat;
							background-size: auto 36px;
							overflow: hidden;
						}

						ul.messages-list li.right{
							margin: 0 5px 0 0;
							border-left: 0;
							border-right: 3px solid transparent;
						}

						ul.messages-list li.right .picture{
							float: right;
							margin: 0 8px;
						}

							ul.messages-list li .picture img{
								width: 40px;
								height: 40px;
							}

						ul.messages-list li .text{
							display: block;
							float: left;
							width: calc(100% - 52px);
							margin: 2px 0 0 4px;
							overflow: hidden;
						}

						ul.messages-list li.right .text{
							width: calc(100% - 60px);
						}

							ul.messages-list li .text .name{
								display: block;
								float: left;
								clear: both;
								margin: 2px 0 0 0;
								font-size: 12px;
								line-height: 16px;
								color: #222222;
								overflow: hidden;
								text-overflow:ellipsis;
								white-space: nowrap;
							}

							ul.messages-list li.right .text .name{
								float: right;
								text-align: right;
							}

							ul.messages-list li .text .date{
								display: block;
								float: left;
								clear: both;
								font-size: 10px;
								line-height: 16px;
								font-weight: normal;
								color: #aaaaaa;
								overflow: hidden;
								text-overflow:ellipsis;
								white-space: nowrap;
							}

							ul.messages-list li.right .text .date{
								float: right;
								text-align: right;
							}

							ul.messages-list li .text .message{
								display: block;
								float: left;
								width: calc(100% - 10px);
								clear: both;
								font-size: 12px;
								line-height: 16px;
								color: #666666;
								white-space: normal;
							}

							ul.messages-list li.right .text .message{
								float: right;
								text-align: right;
							}

							ul.messages-list li.new{
								border-left: 3px solid #ff9f00;
							}

							ul.messages-list li.right.new{
								border-left: 0;
								border-right: 3px solid #ff9f00;
							}

							ul.messages-list li.new .text .name{
								font-weight: bold;
							}

							ul.messages-list li.new .text .message{
								color: #222222;
							}